<%- include("header") -%>

<body>

  <h2>This is the about page</h2>  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed dui odio. Morbi convallis lacus sit amet elit fermentum, eget sagittis sapien fringilla. Fusce efficitur turpis id consectetur pulvinar. Sed lacinia, nunc a porttitor hendrerit, libero enim rutrum nisi, a accumsan enim leo id tortor. Proin molestie sem at magna ornare sodales a aliquet augue. Donec lobortis, dolor sit amet imperdiet fermentum, nisl velit hendrerit mi, non commodo tellus arcu vitae justo. Vivamus eget commodo tortor. Maecenas eget rutrum elit. Aenean consectetur nisl eu ipsum lobortis, finibus faucibus diam pharetra. Integer non hendrerit tellus, ac feugiat nisi.</p>

</body>

<%- include("footer") -%> 